.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 120px;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px 0;
}

.App-link {
  color: #61dafb;
}

.App-section {
  padding: 40px;
}

.App-form {
  padding: 30px;
  text-align: left;
}

.App-form .btn {
  width: 45%;
  margin-bottom: 5%; 
  margin-right: 4%;
}

.App-button-next {
  font-size: 22px;
  font-weight: bold;
  color: white;
  background: purple;
  border: 0;
  border-radius: 20px;
}

.App-points {
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  padding-right: 40px;
}

.btn-action {
  width: 200px;
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
